$deepBlue: #032f3e;
$sectionHeading: 24px;
$offWhite: #f8f9fb;

* {
  padding: 0;
  margin: 0;
}

@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin grid($cols, $mrgn) {
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  float: left;
  width: ((100% - ($cols - 1)*$mrgn)/$cols);
  margin-right: $mrgn;
  margin-bottom: $mrgn;
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

@mixin mQ($args...){
  @if length($args) == 1{
    @media screen and (max-width: nth($args, 1)){
      @content;
    }
  }
  @if length($args) == 2{
    @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
      @content;
    }
  }
}

