@import "../../styles/main.scss";

@mixin headerItem {
  color: $offWhite;
  padding: 16px;
  display: block;
  text-align: center;
}

#main-nav {
  background: $deepBlue;
  ul {
    width: 100%;
    list-style: none;
    @include clearfix;
  }
  li {
    float: right;
    width: (70%/5);
  }
  a {
    @include headerItem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background: lighten($deepBlue, 3);
    }
  }
}

#logo {
  float: left;
  width: 10%;
  @include headerItem;
  position: relative;
  margin-left:10px;
}

