header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: silver;
  margin: 0 0 100px;
}

nav li {
  list-style: none;
  float: right;
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #000;
}

.logo {
  text-transform: uppercase;
  margin: 0 20px;
  color: red;
}
