@import "../../styles/main";
.lead-banner {
  position: relative;
  color: white;
  img {
    width: 100%;
  }
  .banner-content {
    text-align: center;
    float: right;
    position: absolute;
    top: 250px;
    left:368px;
  }
  span {
    font-size:68px;
    font-weight:bold;
    text-transform: uppercase;
    display: block;
  }
  span.sub-title {
    font-weight:normal;
    margin-top:100px;
  }
  @include mQ(1200px){
    max-height: 640px;
    overflow: hidden;
  }
}

